<h1>List of Currencies</h1>
<table class="table table-striped table-bordered" data-controller="currency">
  <thead class="table-dark">
    <tr>
      <th>Currency Code</th>
      <th>Currency Name</th>
    </tr>
  </thead>
  <tbody data-currency-target="tableBody">
    <!-- JavaScript will populate this -->
  </tbody>
</table>