<% content_for :title, "New email alert" %>

<h1>New email alert</h1>

<%= render "form", email_alert: @email_alert %>

<br>

<%= turbo_frame_tag :previous_triggers, data: { controller: "email-alert", target: "email-alert.table" } do %>
  <%= render "email_alerts/previous_triggers", last_six_days: @last_six_days %>
<% end %>

<div>
  <%= link_to "Back to email alerts", email_alerts_path %>
</div>